<div class="full-page">
	<h3 class="page-title">Config Editor</h3>

	<div id="configEditor" class="monaco-container"></div>

	<div class="config-actions">
		<button class="btn btn-primary" id="btnSaveConfig">Save Config</button>
		<button class="btn btn-secondary" id="btnReloadConfig">Reload Config</button>
	</div>
</div>

