<div class="full-page">
	<h3 class="page-title">Site Actions</h3>

	<div id="actionsTable"><%- include("admin-spinner") %></div>

	<nav aria-label="Actions pagination">
		<ul class="pagination" id="actionsPagination"></ul>
	</nav>
</div>
