# Example .env file for docker compose

# Fluxloader config. See src/index.js
DISCORD_CLIENTID=''
DISCORD_CLIENTSECRET=''
DISCORD_REDIRECTURI=''
DISCORD_TOKEN=''
DISCORD_RUNBOT=''
DISCORD_SERVERLOG=''
DISCORD_SERVERLOGCHANNEL=''
DISCORD_SERVERACTIONSCHANNEL=''
DISCORD_SERVER=''
GIT_PULL='true'
MODSETTINGS_VALIDATIONTIME=''
REQUIREGITHUBSECRETFORRELOAD=''
GITHUBSECRET=''
