# Example .env file for docker compose

# Fluxloader config. See src/index.js
CONFIG_DISCORD_CLIENTID=''
CONFIG_DISCORD_CLIENTSECRET=''
CONFIG_DISCORD_REDIRECTURI=''
CONFIG_DISCORD_TOKEN=''
CONFIG_DISCORD_RUNBOT=''
CONFIG_DISCORD_SERVERLOG=''
CONFIG_DISCORD_SERVERLOGCHANNEL=''
CONFIG_DISCORD_SERVERACTIONSCHANNEL=''
CONFIG_DISCORD_SERVER=''
CONFIG_GIT_PULL=''
CONFIG_MODSETTINGS_VALIDATIONTIME=''
CONFIG_REQUIREGITHUBSECRETFORRELOAD=''
CONFIG_GITHUBSECRET=''
