:root {
	--color-bg-light: #3a3d49;
	--color-bg-light-hover-lighter: #404450;
	--color-bg-medium: #2c2f39;
	--color-bg-dark: #272a34;
	--color-bg-dark2: #1f222b;
}

/* ----------------------------------- General ----------------------------------- */

body,
html {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.pageContainer {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	background-color: var(--color-bg-light);
}

.fullpage {
	width: 100%;
	height: 100%;
}

.headerContainer {
	color: pink;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 60px;
	background-color: var(--color-bg-dark2);
	padding: 0.5rem;
	gap: 1rem;
}

.headerContainer .rightContainer {
	display: flex;
	align-items: center;
	gap: 0.4rem;
}

/* ----------------------------------- Upload ----------------------------------- */

.modUploadForm {
	height: 100%;
	margin: auto;
	width: 1200px;
	max-width: 100%;
	padding: 20px 40px;
	background-color: var(--color-bg-dark);
	overflow: auto;
}

/* ----------------------------------- Home ----------------------------------- */

.modList {
	width: 50%;
	height: calc(100% - 45px);
	display: flex;
	flex-direction: column;
	padding: 10px;
	overflow-x: hidden;
	overflow-y: scroll;
	scrollbar-width: none;
}

.modListItem {
	cursor: pointer;
}

.modListItem:hover {
	background-color: var(--color-bg-light-hover-lighter);
}

.modDisplayHolder {
	height: calc(100%);
	display: flex;
	flex-direction: row;
	gap: 0px;
	background-color: var(--color-bg-light);
}

.modDisplay {
	width: calc(50%);
	height: calc(100% - 50px);
	overflow-x: hidden;
	overflow-y: scroll;
	scrollbar-width: none;
	background-color: var(--color-bg-medium);
}

.modDisplayData {
	padding: 20px;
	scrollbar-width: none;
	width: 100%;
	height: calc(100% - 50px);
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
}

.modDisplayActions {
	background-color: #222222;
	position: absolute;
	bottom: 0;
	right: 0;
	width: calc(50%);
	height: 50px;
	display: flex;
	flex-direction: row;
	gap: 10px;
}
