version: "3.8"

services:
    db:
        image: mongo:latest
        restart: unless-stopped
        volumes:
            - mongodb-data:/data/db
            - ../scripts/init-mongo-db.js:/docker-entrypoint-initdb.d/init-mongo-db.js:ro
        environment:
            MONGO_INITDB_DATABASE: SandustryMods

    app:
        build:
            context: .
            dockerfile: Dockerfile
        volumes:
            - ../..:/workspaces:cached
        # Overrides default command so things don't shut down after the process ends.
        command: sleep infinity
        # Runs app on the same network as the database container, allows "forwardPorts" in devcontainer.json function.
        network_mode: service:db
        depends_on:
            - db

volumes:
    mongodb-data:
