<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
	<head>
		<%- include("header") %>
		<title>Fluxloader Site | Home</title>
	</head>

	<body>
		<div class="pageContainer">
			<div class="headerContainer">
				<a class="btn btn-secondary headerButton" href="/">Mod List</a>

				<div class="input-group" style="width: 50%">
					<input type="text" class="form-control" id="searchInput" placeholder="Search by name, author, or #tag1 #tag2 for multiple tags" onchange="globalThis.performSearch()" />
					<button class="btn btn-outline-secondary" type="button" onclick="globalThis.performSearch()">Search</button>
				</div>

				<div class="rightContainer">
					<a class="btn btn-primary" target="_blank" title="Download the App" href="https://github.com/fluxloader-team/fluxloader/releases/latest/">Fluxloader</a>

					<div id="discordContainer">
						<% if (!user) { %>
						<a href="/auth/discord" class="btn btn-primary">
							<img src="https://cdn.prod.website-files.com/6257adef93867e50d84d30e2/66e3d718355f9c89eb0fd350_Logo.svg" alt="Discord Logo" title="Login with Discord" style="width: 100px; height: 20px; margin-right: 5px" />
						</a>
						<% } else { %> <% const avatarUrl = user.avatar ? `https://cdn.discordapp.com/avatars/${user.id}/${user.avatar}.png` : "https://cdn.discordapp.com/embed/avatars/0.png"; %>
						<div class="dropdown">
							<button class="btn dropdown-toggle" type="button" id="discordDropdownButton" data-bs-toggle="dropdown" aria-expanded="false" style="display: flex; align-items: center; gap: 0.5rem">
								<img src="<%= avatarUrl %>" alt="n/a" class="rounded-circle" style="width: 30px; height: 30px" />
								<%= user.discordUsername %>
							</button>
							<ul class="dropdown-menu" aria-labelledby="discordDropdownButton">
								<li><a class="dropdown-item" href="/upload">Upload Mod</a></li>
								<li><hr class="dropdown-divider" /></li>
								<li><a class="dropdown-item" href="/logout">Logout</a></li>
							</ul>
						</div>
						<% } %>
					</div>
				</div>
			</div>

			<div class="modDisplayHolder">
				<div class="modList" id="modList">
					<div class="d-flex justify-content-center">
						<div class="spinner-border" role="status">
							<span class="visually-hidden">Loading...</span>
						</div>
					</div>
				</div>
				<div class="modDisplay">
					<div class="modDisplayData" id="modDisplay">
						<div class="d-flex justify-content-center">
							<div class="spinner-border" role="status">
								<span class="visually-hidden">Loading...</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modDisplayActions" id="modDisplayActions"></div>
		</div>

		<script src="home.js"></script>

		<%- include("footer") %>
	</body>
</html>

