<style>
    body, html{
        margin: 0;
        padding: 0;
    }
    .pagecontainer{
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
    }
    .headerContainer{
        background-color: #222222;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 50px;
    }
    .modDisplayHolder{
        height: calc(100% - 50px);
        display: flex;
        flex-direction: row;
    }
    .modList{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .modDisplay{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
</style>