name: Lint w/ Prettier

on:
    # Trigger the workflow on push or pull request,
    # but only for the main branch
    push:
        branches:
            - main
    pull_request:
        branches:
            - main

permissions:
    checks: write
    contents: write

jobs:
    run-linters:
        name: Run linters
        runs-on: ubuntu-latest

        steps:
            - name: Check out Git repository
              uses: actions/checkout@v6

            - name: Set up Node.js
              uses: actions/setup-node@v6
              with:
                  # Need to keep an eye on this whenever we do a major node version jump
                  node-version: 22
                  cache: "npm"

            - name: Install dependencies
              run: npm ci

            - name: Run linters
              uses: wearerequired/lint-action@v2
              with:
                  continue_on_error: false
                  prettier: true
                  # lets see if this works
                  auto_fix: true
